<h1>User info</h1>
<%= attachment_image_tag book.user, :profile_image_id, :fill, 60, 60, fallback: "no_image.jpg"%>
<tfoot>
  <tr>
    <td><%= form_with model:user, local:true do |f| %></td>
    <td>Name</td>
    <td><%=user.name %></td>
    <td>Introductio</td>
    <td><%= user.introduction %></td>
    </div>

    <td><%= link_to 'edit', edit_user_path(current_user) %></td>
  </tr>
</tfoot>
<h2>New book</h2>
<teble class="teble">
  <tbody>
    <tr>
      <th>Title</th>
      <th><%= f.text_field :title %></th>
    </tr>
    <tr>
      <th>Opinion</th>
      <th><%= f.text_area :body %></th>
    </tr>
      <th><%= f.submit'Creat Book' %></th>
  </tbody>
</teble>
<% end %>